.header{
    background-image: url(../images/702581.png);
    width: 100%;
    height: 700px;
    background-repeat:no-repeat;
    object-fit: fill;
}
.header-nav{
    border-bottom: 1px solid #7a7a7a;
}
.header-nav_ul{
    display: flex;
}
.header-nav_ul li{
    color: white;
    font-size: 20px;
    padding: 20px;
}
.header-logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #0d100d;
}
.header-logo i{
    font-size: 20px;
    color: white; 
}
/*  */
.header-title{
    text-align: center;
}
.header-title h1{
    font-size: 80px;
    color: white;
    margin-top: 100px;
    font-weight: bold;
    text-shadow: 0 -3px 0 #999,
    0 6px 8px rgba(0,0,0,.4),
    0 9px 10px rgba(0,0,0,.15),
    0 30px 10px rgba(0,0,0,.18),
    0 15px 10px rgba(0,0,0,.21);

}
.header-title p{
    font-size: 24px;
    margin-top: 50px;
    margin-left: 50px;
    color: #ebebeb;
    text-shadow: 0 -3px 0 #a8a8a8,
    0 6px 8px rgba(0,0,0,.4),
    0 9px 10px rgba(0,0,0,.15),
    0 30px 10px rgba(0,0,0,.18),
    0 15px 10px rgba(0,0,0,.21);
}
.header-title_btn{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
/* Header Button */
.header-title_btn{
    margin-top: 40px;
}
.header-title_btn-window{
    margin-left: 20px;
}
/* Container */
.container-product ,
.container-services{
   background-color: #0d100d;
}
.container-product h1{
    color: white;
    font-size: 100px;
    margin-left: 20px;
}
.container-product_box{
    width: 80%;
    border-radius: 30px;
    display: flex;
    align-items: center;
    height: 100%;
}
.container-product_box p {
    font-size: 20px;
    color: white;
    line-height: 1.8;
}
.container-product img{
    height: 400px;
    width: 400px;
    object-fit: fill;
    border-radius: 6px;
    padding-bottom: 20px
}
/* Container Teams */
.container-teams_box{
    height: 450px;
}
.container_teams img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 5px solid #fff;
    margin: 10px;
}
.container-teams_box , 
.container-services_box{
    border-radius: 8px;
    background-color: rgb(46 46 46);
    text-align: center;
    transition: all 0.3s ease;
}
.container-teams_box:hover{
    background-color: #7a7a7a;
    cursor: pointer;
    transform: scale(1.05);
}
.container-teams_box h2{
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.container-teams_box p ,
.container-services_box p{
    color: white;
    line-height: 1.9;
    padding: 10px;
}
/* Container Services */
.container-services{
    height: 90vh;
}
.container-services_row , 
.container-teams_row{
    padding: 20px 0;
}
.container-services_box{
    height: 300px;
}
.container-services_box i{
    color: white;
    font-size: 35px;
    padding: 20px 0;
}
.container-services_box h1 {
    color: white;
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 20px;
}
/* Container introduction */
.container-introduction_box{
    text-align: center;
    position: relative;
    top: 40%;
}
.container-introduction_box h1{
    font-size: 24px;
    font-weight: bold;
    padding: 10px 0;
}
.container-introduction_box p{
    font-size: 15px;
    line-height: 1.9;
    padding: 10px 0;
}
/* Container contact */
.container_contact{
    background-color: #0d100d;
    height: 100vh;
}
.container-contact_box li{
    display: flex;
    align-items: center;
}
.container-contact_box i{
    color: white;
    font-size: 24px;
}
.container-contact_box h1{
    font-size: 30px;
    color:#fff
}
.container-contact_box h2{
    color: white;
    padding: 10px;
    font-size: 20px;
}
.container-contact_box-info{
    color: white;
    padding: 20px 0 0 20px;
}
.container-contact_box-info p{
    padding: 10px 0 0 10px;
}
.container-contact_box-input{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}
.container-contact_box-input input{
    width: 50%;
    padding: 10px;
    margin: 0 10px;
    font-size: 14px;
    border-radius: 10px;
    border: 1px solid;
}
.contact_box-input-subject input{
    width: 100%;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid;
}
.contact_box-input-textarea textarea{
    width: 100%;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
    border: 1px solid;
}
.contaienr-contact_row{
    padding-bottom: 30px;
    border-bottom: 1px solid #fff;
}
/* container-footer */
.container-footer{
    background-color: #0d100d;
}
.container-footer_info li {
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    line-height: 1.9;
    color: white;
}
.container-footer_license p {
    color: white;
    line-height: 1.5;
}
.container-footer_social-network ul{
    display: flex;
    align-items: center;
    justify-content: end;
}
.container-footer_social-network ul li{ 
    font-size: 20px;
    color: white;
    border: 1px solid #fff;
    padding: 10px;
    margin: 0 10px;
}
.container-footer_social-network ul li:hover{ 
    cursor: pointer;
    background-color: #474646;
}
.container-footer_notify{
    align-items: center;
    color: white;
}